@charset "utf-8";

/* ========================================
    フッター
========================================= */
footer{
	position: relative;
	width: auto;
	height: 80px;
	background-color: #FFFAE1;
}


footer h1#footer_icon {
	position: absolute;/*絶対配置*/
	top: 2%;
	left: 1%;
	z-index: 10 ;
}

footer h1#footer_icon a{
	color: #5D535E;
	font-size: 30px;
	text-shadow: 2px 3px 2px rgba(0,0,0,0.1);
	font-weight: bold;
	text-decoration: none;
}

footer h1#footer_icon a:hover{
	color: #BCBABE;
}

footer #footer_menu{
	position: absolute;
	width: 40%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
	height: 60%;
	bottom: 0;
	
}


footer #footer_menu ul li {
	display: inline-block;
	margin-left: 60px;
	font-size: 20px;
	text-decoration: none;
}

footer #footer_menu ul li a{
	color: #2D3033;
}

footer p {
	position: absolute;/*絶対配置*/
	top: 30%;
	right: 10%;
	z-index: 10 ;
}

