@charset "utf-8";

@media (max-width: 1020px) and (min-width: 768px)
{
/* ========================================
    メイン画像
========================================= */

#main_image span.top_txt {
	font-size: 18px;
}
	
/* ========================================
    説明
========================================= */

#description #left h2{
	font-size: 25px;
}

#description #left p{
	font-size: 15px;
}

#description #left a{
	width:120px;
}

/* ========================================
    パネル
========================================= */

#Panel #right h2{
	font-size: 25px;
}


#Panel #right p{
	font-size: 15px;
}

/* ========================================
    注意事項
========================================= */


#precautions #box h2{
	font-size: 25px;
}

#precautions #box p{
	font-size: 15px;
}

}