@charset "utf-8";

@media (max-width: 1020px) and (min-width: 768px)
{
/* ========================================
    メイン画像
========================================= */

#main_image span.top_txt {
	font-size: 18px;
}
	
/* ========================================
    yellow
========================================= */

#yellow h2{
	font-size: 25px;
}

#yellow p{
	font-size: 15px;
}


/* ========================================
    white
========================================= */

#white h2{
	font-size: 25px;
}


#white p{
	font-size: 15px;
}


}