<!DOCTYPE html>

<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="OMIYAcappella 大宮アカペラプラットフォーム">
    <meta name="keywords" content="OMIYAcappella, 埼玉, 大宮, アカペラ, プラットフォーム, サークル">
    <meta name="format-detection" content="email=no,telephone=no,address=no">
    <title>OMIYAcappella 大宮アカペラプラットフォーム</title>
    <meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="OMIYAcappella 大宮アカペラプラットフォーム">
	<meta name="twitter:description" content="「楽しく、いつでも、アカペラを、大宮で」をコンセプトとした、アカペラ経験者向けの大宮アカペラプラットフォーム">
	<meta name="twitter:site" content="@OMIYAcappella">
	<meta name="twitter:url" content="https://omiyacappella/home">
	<meta name="twitter:image" content="https://omiyacappella.com/image/top.png">
	<meta property="og:url" content="https://omiyacappella/home" />
	<meta property="og:image" content="https://omiyacappella.com/image/top.png" />
	<meta property="og:title" content="OMIYAcappella 大宮アカペラプラットフォーム" />
	<meta property="og:site_name" content="OMIYAcappella 大宮アカペラプラットフォーム" />
	<meta property="og:description" content="「楽しく、いつでも、アカペラを、大宮で」をコンセプトとした、アカペラ経験者向けの大宮アカペラプラットフォーム" />
	<meta property="og:type" content="website" />
	<link rel="apple-touch-icon" sizes="114x114" th:href="@{/image/icon.jpg}" href="./image/icon.jpg">
    <link rel="icon" type="image/x-icon" th:href="@{/image/icon.jpg}" href="./image/icon.jpg">
    
    
    <!-- スタイルシートの読み込み -->
    <link rel="stylesheet"  th:href="@{/css/common.css}" href="./css/common.css" type="text/css" media="screen">
    <link rel="stylesheet"  th:href="@{/css/header.css}" href="./css/header.css" type="text/css" media="screen">
    <link rel="stylesheet"  th:href="@{/css/footer.css}" href="./css/footer.css" type="text/css" media="screen">
    <link rel="stylesheet"  th:href="@{/css/home.css}" href="./css/home.css" type="text/css" media="screen">
    <link rel="stylesheet"  th:href="@{/css/home_phone.css}" href="./css/home_phone.css" type="text/css" media="screen">
    <link rel="stylesheet"  th:href="@{/css/home_tablet.css}" href="./css/home_tablet.css" type="text/css" media="screen">
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <!-- BootstrapのCSS読み込み -->
    <link  th:href="@{/css/bootstrap.min.css}" href="./css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script th:src="@{/js/jquery-3.5.1.min.js}" src="./js/jquery-3.5.1.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script th:src="@{/js/bootstrap.min.js}" src="./js/bootstrap.min.js"></script>
</head>

<body>
    <!-- ヘッダー -->
    <header>
    
        <h1 id="top_icon">
        	<a th:href="@{/home/}" href="./home.html">OMIYAcappella</a>
        </h1>
        
        
        <div id="head" >
        </div>


        <!-- スクロールボックス -->
		<div class="scrollBox">
		  <div class="arrowWrap">
		    <div class="arrowInner">
		      <p>SCROLL DOWN</p>
		      <div class="arrow"></div>
		    </div>
		  </div>
		</div>


        <!-- ハンバーガーメニュー -->
        <nav>
			<input type="checkbox" id="cp_navimenuid">
			<label class="menu" for="cp_navimenuid">
	
				<div class="menubar">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
		
				<ul>
					<li><a id="home" th:href="@{/home/}" href="./home.html">Home</a></li>
					<li><a id="rules" th:href="@{/rules/}" href="./rules.html">Rules</a></li>
				</ul>
	
			</label>
        </nav>

    </header>
    <!-- ヘッダー終わり -->

	<main>
		<!-- スタート画像 -->
		<div class="start">
		  <p class="srtclass_block">
		    <img th:src="@{/image/logo.png}" src="./image/logo.png" alt="logo">
		  </p>
		</div>
		<!-- スタート画像終わり -->
		
	    <!-- メイン画像 -->
		<section id="main_image">
	    
	    	<div class="top_img" th:style="'background-image: url(' + @{/image/top.png} + ');'" style="background-image: url(./image/top.png);">
			</div>
	      
			<span class="top_txt">
	          		楽しく、いつでも、アカペラを、大宮で
	        </span>
	
	
	    </section>
	    <!-- メイン画像終わり -->
	
	    <!-- 本文ラッパー -->
	    <div id="body_wrapper" class="cf">
	
	
	        <!-- 説明 -->
	        <section id="description" class="fadein">

	        	
	        	<div id="right">
	        		<div class="right_pic" th:style="'background-image: url(' + @{/image/omiya_station.jpg} + ');'" style="background-image: url(./image/omiya_station.jpg);"></div>
	        	</div>
	        	
	        	<div id="left">
					<h2>活動コンセプト</h2>

					<p>「楽しく、いつでも、アカペラを、大宮で」<br>
					・サークルのような固定バンドを作る感じではなく、好きな時に好きな曲を歌うために、一日 or 短期の企画バンドを自由に作る<br>
					・活動の強制は一切なし！<br>
					・練習場所は大宮で！<br>
					・LINEグループにてやり取り</p>
					
					<a th:href="@{/rules/}" href="./rules.html" class="btn btn-gradient"><span>Rules</span></a>
						        		
	        	</div>
	        </section>
	        <!-- 説明終わり -->


	        <!-- パネル -->
	        <section id="Panel" class="fadein">
	        	<div id="left">
	        		<div class="left_pic" th:style="'background-image: url(' + @{/image/friends.jpg} + ');'"  style="background-image: url(./image/friends.jpg);"></div>
				
	        	</div>
	        	
	        	<div id="right">
					<h2>募集要項</h2>
					<p>・18～35歳まで<br>
						・アカペラ経験者のみ(学生、または社会人のアカペラサークル)<br>
						少しアカペラ齧ったことあります、は申し訳ないですがお断りさせていただいています<br>
						・1日で1曲をある程度歌えるレベル感であればOK<br>
						・居住は関東圏で、アカペラのために大宮に来れる方</p>
	        	</div>
	        </section>
	        <!-- パネル終わり -->
	        
	        	
	        <!-- 注意事項 -->
	        <section id="precautions" class="fadein">
	        	<div id="box">
	        		<h2>Contact Us</h2>
					<p>OMIYAcapellaへの参加希望や質問等の問い合わせは、以下2つの方法どちらかでお願いします。<br>
					①メール: kei12131111@gmail.com<br>
					②TwitterアカウントへのDM: @OMIYAcappella<br>
						<a href="https://twitter.com/OMIYAacappella"><i class="fab fa-twitter-square fa-3x my-skyblue"></i></a>
					</p>
	        	</div>
	        </section>
	        <!-- 注意事項終わり -->
	        
	    </div>
	    <!-- 本文ラッパー終わり -->


	</main>
	
	<!-- フッター -->
	<footer>
		<h1 id="footer_icon">
        	<a th:href="@{/home/}" href="./home.html">OMIYAcappella</a>
        </h1>
	
		<div id="footer_menu">
			<ul>
				<li><a id="home" th:href="@{/home/}" href="./home.html">Home</a></li>
				<li><a id="rules" th:href="@{/rules/}" href="./rules.html">Rules</a></li>
			</ul>
		</div>
	
	</footer>
	<!-- フッター終わり -->

    <script th:src="@{/js/common.js}" src="./js/common.js"></script>
    <script th:src="@{/js/start.js}" src="./js/start.js"></script>

</body>
</html>